<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static Website Foundation</title>
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg">
</head>
<body>
<table cellSpacing=0 cellPadding=0 width="100%" border=0>
    <tbody>
    <tr>
        <td>
            <table cellSpacing=0 cellPadding=2 width="100%" border=0>
                <tbody>
                <tr>
                    <td align=right bgColor="#cccccc"><font size=-1><em>A committee for regression &nbsp;</em></font>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellSpacing=1 cellPadding=2 width="100%" border=0 bgColor="#f3f3f3">
                <tbody>
                <tr>
                    <td align=left>
                        <img src="static/logo.svg" alt="SWF logo" border=0 height="175px">
                    </td>
                    <td valign=middle align=center><font size="+2"><b>Static Website Foundation</b></font>
                        <p><font size="+2">
                            <em>Back to the origin
                            </em></font></p></td>
                    <td align=right>
                        <img alt="Mi serve un secondo logo" src="static/ptm_logo.png" border=0 height="175px">
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellSpacing=2 cellPadding=2 width="100%" border=0>
                <tbody>
                <tr bgColor="#d5d5d5">
                    <td align=center width="100%">
                        &nbsp;
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<h2>Our goal</h2>
<p>
    The SWF (Static Website Foundation) goal is to bring back the original World Wide Web. Let's stop with all the
    nonsense of CSS, JavaScript and dynamic web pages. We want to bring back the feel of a real web page and the speed
    and easiness to reach the needed information without loosing yourself in an endless sea of buggy and slow user
    interfaces.


<h2>Why</h2>
<ul>
    <li>
        <b>It's more secure:</b> with no code being run neither on the server nor on the client there's no threat for
        for any vulnerability (injections, XSSs, request forgeries, ...).
    </li>
    <li>
        <b>It's faster:</b> the pages are smaller and less cluttered, so the download time will reduce. Furthermore, no
        calculations needed both serverside and clientside speed up the process even more.
    </li>
    <li>
        <b>It's more compatible:</b> every device and web browser can render basic HTML. It can be seen by everyone on
        every device, no matter the hardware limitations.
    </li>
    <li>
        <b>It's easier:</b> <i>"How to center a div?", "How does async await work?</i> with basic HTML you don't need
        to spend hour trying to figure out every trivial detail. So you can focus on what's really important: the
        backend.
    </li>
    <li>
        <b>It's the original:</b> This is how Sir Tim Berners Lee first envisioned the web, and we all know that the
        original recipe is always the best recipe.
    </li>

</ul>
<hr>
&copy; 2021 - The Static Website Foundation
<p>
    <a href="http://www.apache.org/">
        <img style="border:0" src="static/apache_pb.gif" alt="Powered by Apache" align="left">
    </a>
    <a href="http://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px" src="static/valid-html401.png" alt="Valid HTML 4.01 Transitional"
             align="right">
    </a>
</p>
</body>
</html>